In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
train=pd.read_csv('car_price.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   object
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   object
 9   Seats                5512 non-null   object
dtypes: int64(2), object(8)
memory usage: 430.8+ KB

In [4]:
train['car_prices_in_rupee'].unique()

array(['10.03 Lakh', '12.83 Lakh', '16.40 Lakh', ..., '28.90 Lakh',
       '64.90 Lakh', '31.90 Lakh'], dtype=object)

In [5]:
train.loc[train['car_prices_in_rupee'].str.contains(' Lakh'), 'Currency'] = ' Lakh'
train.loc[train['car_prices_in_rupee'].str.contains(' Crore'), 'Currency'] = ' Crore'

In [6]:
train['kms_driven']=train['kms_driven'].str.replace(' kms','')
train['car_prices_in_rupee']=train['car_prices_in_rupee'].str.replace(' Lakh','')
train['kms_driven']=train['kms_driven'].str.replace(',','')
train['Seats']=train['Seats'].str.replace(' Seats','')
train['engine']=train['engine'].str.replace(' cc','')
train['car_prices_in_rupee']=train['car_prices_in_rupee'].str.replace(' Crore','')
train['car_prices_in_rupee']=train['car_prices_in_rupee'].str.replace(' ','')
train['car_prices_in_rupee']=train['car_prices_in_rupee'].str.replace(',','')

In [7]:
train.info

<bound method DataFrame.info of       Unnamed: 0                                car_name car_prices_in_rupee  \
0              0  Jeep Compass 2.0 Longitude Option BSIV               10.03
1              1            Renault Duster RXZ Turbo CVT               12.83
2              2                      Toyota Camry 2.5 G               16.40
3              3                       Honda Jazz VX CVT                7.77
4              4        Volkswagen Polo 1.2 MPI Highline                5.15
...          ...                                     ...                 ...
5507        5507                 BMW X1 sDrive 20d xLine               28.90
5508        5508                   BMW M Series M4 Coupe               64.90
5509        5509              Jaguar XF 2.2 Litre Luxury               13.75
5510        5510                      BMW 7 Series 730Ld               29.90
5511        5511               BMW 5 Series 520d M Sport               31.90

     kms_driven fuel_type transmission  ownership  manufacture engine Seats  \
0         86226    Diesel       Manual  1st Owner         2017   1956     5
1         13248    Petrol    Automatic  1st Owner         2021   1330     5
2         60343    Petrol    Automatic  1st Owner         2016   2494     5
3         26696    Petrol    Automatic  1st Owner         2018   1199     5
4         69414    Petrol       Manual  1st Owner         2016   1199     5
...         ...       ...          ...        ...          ...    ...   ...
5507      45000    Diesel    Automatic  1st Owner         2018   2995     7
5508      29000    Petrol    Automatic  2nd Owner         2015   1968     5
5509      90000    Diesel    Automatic  2nd Owner         2013   2755     5
5510      79000    Diesel    Automatic  3rd Owner         2015   2967     6
5511      42000    Diesel    Automatic  2nd Owner         2017   1991     5

     Currency
0        Lakh
1        Lakh
2        Lakh
3        Lakh
4        Lakh
...       ...
5507     Lakh
5508     Lakh
5509     Lakh
5510     Lakh
5511     Lakh

[5512 rows x 11 columns]>

In [8]:
train.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,Currency
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03,86226,Diesel,Manual,1st Owner,2017,1956,5,Lakh
1,1,Renault Duster RXZ Turbo CVT,12.83,13248,Petrol,Automatic,1st Owner,2021,1330,5,Lakh
2,2,Toyota Camry 2.5 G,16.40,60343,Petrol,Automatic,1st Owner,2016,2494,5,Lakh
3,3,Honda Jazz VX CVT,7.77,26696,Petrol,Automatic,1st Owner,2018,1199,5,Lakh
4,4,Volkswagen Polo 1.2 MPI Highline,5.15,69414,Petrol,Manual,1st Owner,2016,1199,5,Lakh

In [9]:
train['kms_driven']=train['kms_driven'].astype(float)
train['car_prices_in_rupee']=train['car_prices_in_rupee'].astype('float')
train['Seats']=train['Seats'].astype('int')
train['engine']=train['engine'].astype('int')

In [10]:
train.head()

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats,Currency
0,0,Jeep Compass 2.0 Longitude Option BSIV,10.03,86226.0,Diesel,Manual,1st Owner,2017,1956,5,Lakh
1,1,Renault Duster RXZ Turbo CVT,12.83,13248.0,Petrol,Automatic,1st Owner,2021,1330,5,Lakh
2,2,Toyota Camry 2.5 G,16.40,60343.0,Petrol,Automatic,1st Owner,2016,2494,5,Lakh
3,3,Honda Jazz VX CVT,7.77,26696.0,Petrol,Automatic,1st Owner,2018,1199,5,Lakh
4,4,Volkswagen Polo 1.2 MPI Highline,5.15,69414.0,Petrol,Manual,1st Owner,2016,1199,5,Lakh

In [11]:
train['car_prices_in_rupee']=np.where(train['Currency'] == 'Crore',
                                           train['car_prices_in_rupee'] * 100,
                                           train['car_prices_in_rupee'])

In [12]:
train['car_prices_in_rupee']=train['car_prices_in_rupee']*100000

In [13]:
train['ownership'] = train['ownership'].str.extractall(r'(\d+)').unstack().apply(lambda x: ''.join(x.dropna()), axis=1)

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   float64
 3   kms_driven           5512 non-null   float64
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   int32
 9   Seats                5512 non-null   int32
 10  Currency             5389 non-null   object
dtypes: float64(2), int32(2), int64(2), object(5)
memory usage: 430.8+ KB

In [15]:
X_train = train[['kms_driven', 'fuel_type', 'transmission', 'ownership', 'manufacture', 'engine', 'Seats']]
y_train = train['car_prices_in_rupee']

In [16]:
X_train = pd.get_dummies(X_train, columns=['fuel_type', 'transmission', 'ownership'])

In [17]:
model = LinearRegression()

In [18]:
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
kms_driven = float(input("Enter the kilometers driven: "))
fuel_type = input("Enter the fuel type: ")
transmission = input("Enter the transmission type: ")
ownership = input("Enter the ownership type: ")
manufacture = int(input("Enter the date of manufacture: "))
engine = int(input("Enter the engine capacity in cc: "))
seats = int(input("Enter the number of seats: "))

In [21]:
user_input = pd.DataFrame({'kms_driven': [kms_driven], 'fuel_type': [fuel_type], 'transmission': [transmission], 'ownership': [ownership], 'manufacture': [manufacture], 'engine': [engine], 'Seats': [seats]})

In [22]:
user_input = pd.get_dummies(user_input, columns=['fuel_type', 'transmission', 'ownership'])

In [23]:
user_input = pd.get_dummies(user_input, columns=X_train.columns.difference(['kms_driven','manufacture','engine','Seats']))

KeyError: "['fuel_type_Cng', 'fuel_type_Electric', 'fuel_type_Lpg', 'fuel_type_Petrol', 'ownership_0', 'ownership_1', 'ownership_3', 'ownership_4', 'ownership_5', 'transmission_Manual'] not in index"

In [25]:
y_pred = model.predict(user_input)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- fuel_type_Cng
- fuel_type_Electric
- fuel_type_Lpg
- fuel_type_Petrol
- ownership_0
- ...

  warnings.warn(message, FutureWarning)

ValueError: X has 7 features, but LinearRegression is expecting 17 features as input.

In [26]:
print(f"The predicted resell value is: {y_pred[0]:.2f}")

NameError: name 'y_pred' is not defined